body {
    background-size: cover;
    background-position: center;
}
.nav-item{
    margin-right: 30px;
}
.nav-link{
    color: black;
}
.link-active{
    font-weight: bold;
    color: #A39061;
}
.btn-denisa{
    background-color: #A39061;
    color: white;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
}
.btn-denisa:hover{
    background-color: #beaf86;
    color: white;
}